header{
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background: linear-gradient(135deg, rgba(114, 208, 255, 1), #008cd1, rgb(119, 186, 248));
  height: 60px;
  width: 100%;
}

.button-nav {
      color: #ffffff;
     /* padding: 15px 100px;
      margin: 10px 50px;
      float: center;
*/
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 9px 100px;      
}

.hover:hover {
  color: rgba(203, 209, 208);
}

.hover-bg:hover{
 background: rgba(114, 208, 255, 1);
 
}
body{
  font-family: 'Noto Sans JP', sans-serif;
  background: lightgray;
  }

.logo {
  width: 153px;
  height: auto;
  float: left;
}

.button-link {
margin: 100px auto;
background: white;
color: black;
border-radius: 8px;
padding: 5px 13%;
float: center;

/*display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 46.43165%;   
*/  
}

table {
  width: 100%;
  height: auto;
  background:rgba(114, 208, 255, 1);
  border-spacing: 0;
  max-width: 100%;
  border: 1px solid black;
}

td {
  border: 0.3px solid black;
  background: rgb(243, 232, 232);
  text-align: center;
}

.titel{
  font-weight: 800;
  text-decoration: underline solid black;
}

.abstand-header{
  margin-top: 48px;
}

.abstand{
  display:flex;
  justify-content: center;
  align-items: left;
  margin: auto;
  flex-direction: column;
}

.abstand-button {
  padding:  1px 45px ;
  text-align: center;
}

.green{
  color: rgb(97, 192, 92);
}

.red{
  color: rgb(255, 64, 64);
}

.blau{
  color: rgb(60, 145, 224);
}

/*td:nth-of-type(3){
  color: #008cd1;
}
*/

.float-left{
  float: left;
}

.input_date{
  margin: 5px 53px;
}

.input_amount{
  margin: 5px 27px;
}

.input_category{
  margin: 5px 20px;
}

.double_underline {
  border-bottom: double 3px #000000;
}

.width_table{
  width: 33.33%;
}

.text{
  align: center ;
}